.list-container {
    display: flex;
    font-size: 18px;
    background-color: white;
    flex-direction: column;
}

.center{
    width: 40%;
    height: 60%;
    border-radius: 10px;
    border: 1px dashed #cad7e3;
    position: absolute;
    top: 50%;
    left: 25%;
    padding-top: 12%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.item-container{
    text-align: right;
    background-color: #f8fcff;
    border: 1px solid #cad7e3;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px 50px;
}

.text-item {
    display: inline;
    padding-right: 20px;
}


.scrollable{
    direction: ltr;
    height: 500px;
    overflow: auto;
}
.scrollable-messages{
    direction: ltr;
    max-height: 90%;
    overflow: auto;
}
